DATABASE_URL="postgresql://postgres:password@127.0.0.1:5432/ribsys?schema=public"
MINIO_ENDPOINT="127.0.0.1:9000"
MINIO_ACCESS_KEY="admin"
MINIO_SECRET_KEY="password"
RIBSYS_INIT_DB_ON_STARTUP="true"
#RIBSYS_DB_BOOTSTRAP_ADMIN_DB="postgres"
#RIBSYS_API_HOST="127.0.0.1"
#RIBSYS_API_PORT="8787"
#RIBSYS_SEED_PASSWORD="123456"
#RIBSYS_SEED_DEMO_USERS="true"
#RIBSYS_ADMIN_ACCOUNT="admin"
#RIBSYS_ADMIN_PASSWORD="123456"
